### IntelliJ IDEA ###
META-INF/
out/
!**/src/main/**/out/
!**/src/test/**/out/
/CM_PF25_BSL_YAW10_23097488/
/CM_PF25_BSL_FC_22911598_vs_PF25_BSL_YAW10_23097488/
/CM_PF25_BSL_FC_22911598/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store